* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    height: 100%;
}

header, nav, section, main, article, aside, footer {
    display: block;
}

body {
    height: 100%;
    width: 100%;
    background: #fefefe;
    font-family: Myriad Pro Regular, Arial, sans-serif;
}

.clearfix:after {
    content: "."; /* добавить содержимое: "." */
    display: block; /* сделать блоком, т.к. inline не может иметь clear */
    clear: both; /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0; /* сделать высоту 0, чтобы не занимал место */
}

.maxw {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1024px;
}

/*Header start*/
header {
    min-width: 320px;
    width: 100%;
    background: #ffffff;
}

.header {
    height: 183px;
}

h1 {
    float: left;
    margin: 18px 0 43px 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.address {
    width: 26.767%; /*265/990*/
    float: left;
    margin: 55px 0 59px 108px;
}

.address span {
    display: inline-block;
    font-size: 1.1875em; /*19/16*/
    text-align: center;
}

.call {
    width: 21.212%; /*210/990*/
    float: right;
    margin: 47px 0 59px 0;
}

.call span {
    font-size: 1.875em; /* 30/16*/
}

.call button {
    width: 210px;
    background: #ff8400;
    border: none;
    font-size: 1.5625em; /*25/16*/
    color: #ffffff;
    line-height: 1.6;
}

nav {
    position: relative;
    background: #ff8400;
    width: 100%;
    color: #ffffff;
    padding-bottom: 4px;
}

nav ul {
    list-style: none ;

}

nav li {
    float: left;
    margin-left: 50px;
    line-height: 2.5;
    position: relative;
}

nav li.point:before {
    color: #ffffff;
    /* UTF-8 escape sequence, соответствующая символу "Маркер списка" */
    content:"\2022";
    /* Делаем больше, чем основной текст в li */
    font-size: 26px;
    font-weight: 700;
    /* Элемент вырван из потока, выравниваем отрицательным отступом */
    left: -25px;
    /* Высота строки и позиционирование необходимы для выравнивания по вертикали */
    line-height: 18px;
    position: absolute;
    top: 13px;
}

nav li:first-child {
    margin-left: 20px;
    list-style: none;

}

nav li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #ffffff;
}

.slider {
    max-width: 100%;
    white-space: nowrap;
    background: #ffffff;
}

.slider div {
    display: block;
    float: left;
}

.slider div:last-child {
    float: right;
}

.cell2, .cell3, .cell4, .cell5 {
    width: 27.437%; /*439/1600*/
    margin-left: -7.4%;
}

.cell6 {
    width: 7.625%;
    margin-left: -7.35%;
}

.cell2 img, .cell3 img, .cell4 img, .cell5 img, .cell6 img {
    max-width: 100%;
    height: auto;
}

.cell1 {
    width: 19.562%; /*313/1600*/
}

.cell1 img {
    max-width: 100%;
    height: auto;
}

.cell6 img {
    height: auto;
    max-width: 100%;
}

nav section {
    position: absolute;
    width: 100%;
    left: 50%;
    margin-left: -465px;
    bottom: 60%;
}

.request {
    position: relative;
}

.request1 {
    position: absolute;
    width: 931px; /*931/1600*/
    height: 9.375em;
    -webkit-transform: skew(-16deg);
    -moz-transform: skew(-16deg);
    -o-transform: skew(-16deg);
    background: #ffffff;
    opacity: 0.5;
    z-index: 0;
}

.request2 {
    position: absolute;
    color: #000000;
    z-index: 100;
}

.request2 h3 {
    font-size: 1.9em;
    margin-left: 75px;
    margin-top: 23px;
}

.request2 span {
    font-size: 1em;
    margin-left: 55px;
    line-height: 2;
}

.request2 input {
    width: 196px;
    height: 40px;
    border: 1px black solid;
    margin-right: 5px;
}

.request2 input:first-child {
    margin-left: 45px;
}

.request2 input[type="text"] {
    padding-left: 10px;
}

.request2 input[type="submit"] {
    background: #f49d3f;
    border: none;
    font-weight: bold;
}

.sent-diagram {
    position: absolute;
    top: 150px;
    left: 370px;
}

.sent-diagram a {
    text-decoration: underline;
    text-transform: uppercase;
    color: #ffffff;
}

/*-------------------------Header end-----------------------------*/

#wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;
    height: auto !important;
    height: 100%;
    /*    min-height: 100%; *//* -  Нужно для прижатия футера к низу*/
    /*padding: 5px 0;*/
}

/*----------------------------section services begin-----------------------------*/
.services {
    background: #ffffff;
}

.left-col {
    width: 65%;
    float: left;
}

.right-col {
    width: 35%;
    float: right;
}

.card {
    padding-top: 65px
}

.card-image {
    float: left;
}

.detail h5 {
    font-size: 1.875em; /*30/16*/
    text-transform: uppercase;
}

.detail span {
    font-size: 1.125em; /*18/16*/
    display: block;
    margin: 35px 0 30px 0;
}

.detail button {
    font-size: 1.875em;
    text-transform: uppercase;
    background: #ff8400;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    transition: 1s;
}

.detail button:hover {
    background: #ff4e00;
}

.card:last-child {
    padding-bottom: 70px;
}

.switcher1, .switcher2 {
    text-align: center;
}

.products-image {
    padding: 35px 0;
}

.switcher1 {
    margin-top: 60px;
}

.switcher2 {
    margin-top: 130px;
}

.switcher1 h5, .switcher2 h5 {
    font-size: 2.1875em; /*35/16*/
    margin-bottom: 40px;
}

/*----------------------------section services end-----------------------------*/

/*----------------------------section standards begin-----------------------------*/
.standards {
    background: #2b2a28;
    color: #ffffff;
}

.standards h2 {
    text-transform: uppercase;
    font-size: 2.1875em; /*35/16*/
    display: block;
    text-align: center;
    padding: 45px 0 60px 0;
}

.certificate {
    float: left;
    padding: 0 60px 40px 20px;
}

.iso {
    float: left;
    margin-bottom: 70px;
}

.iso span {
    /*    font-size: 1.625em;!*26/16*!*/
    font-size: 1.25em; /*20/16*/
    font-style: italic;
    display: block;
    padding: 42px 0 42px 30px;
    float: right;
}

/*----------------------------section standards end-----------------------------*/

/*----------------------------section clients begin-----------------------------*/
.clients {
    background-color: #fdc029;
}

.clients h2 {
    text-transform: uppercase;
    color: #000000;
    font-size: 2.1875em; /*35/16*/
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 43px 0 28px 0;
}

.clients span {
    display: block;
    font-size: 1.375em; /*22/16*/
    text-align: center;
    padding-bottom: 55px;
}

.tabs li {
    display: block;
    position: relative;
    float: left;
    cursor: pointer;
    font-size: 1.375em; /*22/16*/
    line-height: 1.6;
    height: 100px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 44px;
}

/**/
.arrow-top {
    position: absolute;
    width: 0;
    height: 0;
    border: 1.5625em solid transparent;
    border-top-color: orangered;
    border-bottom: 0;
    top: 100px;
    left: 50%;
    margin-left: -25px;
    display: block;
}

.tabs li:nth-child(1) {
    width: 25%;
}

.tabs li:nth-child(2) {
    width: 25%;
}

.tabs li:nth-child(3) {
    width: 35%;
}

.tabs li:nth-child(4) {
    width: 15%;
}

.brands {
    background-color: #ffffff;
}

.brands-list {
    display: none;
}

.brands-list.active {
    display: block; /* по умолчанию показываем нужный блок */
}

.brands-list li {
    list-style: none;
    width: 33.333%;
    /* display: inline-block;*/
    display: block;
    float: left;
    margin-top: 85px;
}

.brands-list li:nth-child(4),
.brands-list li:nth-child(5) {
    margin-bottom: 80px;
}

.brands-list li:nth-child(6) {
    margin: 50px 0 10px 0;
}

.brands-list li:nth-child(5) {
    width: 28%;
}

/*----------------------------section brands end-----------------------------*/
/*---------------------------Begin Footer----------------------------------*/
/*footer {
    margin: -220px auto 0;
    width: 100%;
    min-width: 240px;
    height: 220px;
    background: #AFBFC6;
    position: relative;
}*/
footer {
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 150px;
    color: #ffffff;
}

footer li {
    list-style: none;
}

footer li a {
    color: #ffffff;
}

.foot-logo, .foot-list1, .foot-list2, .foot-list3 {
    float: left;
}

.foot-logo {
    margin: 40px 0 0 0;
}

.foot-list1 {
    margin: 50px 0 0 45px;
}

.foot-list2 {
    margin: 50px 0 0 30px;
}

.foot-list3 {
    margin: 50px 0 0 30px;
}

.foot-list4 {
    width: 162px;
    float: right;
    margin: 50px 0 0 20px;
}

.foot-list4 span {
    display: block;
    text-align: right;
}

.foot-list4 a {
    text-transform: uppercase;
    color: #ffffff;
}

.foot-logo img {
    max-width: 100%;
    height: auto;
}

/*----------------------Footer end-----------------------*/
/* Для отображения на устройствах меньше 980px*/
@media screen and (min-width: 240px) and (max-width: 479px) {

    main {
        padding: 10px;
    }

    #s_left {
        padding: 0;
        margin: 0 auto;
        float: none;
        clear: both;
        left: 0;
    }

    #s_right {
        padding: 0;
        margin: 0 auto;
        float: none;
        clear: both;
        right: 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 799px) {

    main {
        padding: 10px;
    }

    #s_left {
        padding: 0;
        margin: 0 auto;
        float: none;
        clear: both;
        left: 0;
    }

    #s_right {
        padding: 0;
        margin: 0 auto;
        float: none;
        clear: both;
        right: 0;
    }
}

@media screen and (min-width: 800px) and (max-width: 979px) {

    main {
        padding: 10px;
    }

    #s_left {
        padding: 0;
        margin: 0 auto;
        float: none;
        clear: both;
        left: 0;
    }

    #s_right {
        padding: 0;
        margin: 0 auto;
        float: none;
        clear: both;
        right: 0;
    }
}